<div class="panel">
  <select ng-change="searchByClass()" ng-model="selectedCls">
    <option selected="Select class"></option>
    <option ng-repeat="cls in classes" >{{cls}}</option>
  </select>
</div>
<div masonry="true" column-width="200"  infinite-scroll='loadMore()' infinite-scroll-distance="2">
  <div class="masonry-brick img_container" ng-repeat="clsimage in imagesview">
    <div class="img_container">
      <div class="img_container_media">
        <img ng-src="{{ clsimage.path }}" class="img_container_media_img" alt="A masonry brick" height="400" width="400">
        <!--<h4>{{image.}}</h4>-->
        <ul>
          <li ng-repeat="(key, value) in clsimage.classifications">{{key}} : {{value}}</li>
        </ul>
      </div>

    </div>
  </div>
<div/>

